@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
  /*prymary text*/
  --Very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /*background gradient*/
  --Soft-violet: hsl(273, 75%, 66%);
  --Soft-blue: hsl(240, 73%, 65%);
  /*neutral text*/
  --Very-dark-grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /*dividers*/
  --Light-grayish-blue: hsl(240, 5%, 91%);
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--Soft-blue);
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.main-content {
  width: 920px;
  height: 510px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  border-radius: 24px;
}

.faq-content {
  margin-right: 50px;
}

.faq-content h1 {
  margin-top: 62px;
  margin-bottom: 25px;
}

.block {
  width: 360px;
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(240, 5%, 91%);
  position: relative;
}

.content {
  width: 340px;
  height: 0;
  overflow: hidden;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  color: var(--Dark-grayish-blue);
  transition: all .5s ease;
}

.block.active .content {
  height: 3em;
}

.block img {
  position: absolute;
  right: 20px;
}

.block.active .arrow {
  transform:rotate(180deg);
}

.block.active .question{
  font-weight: bold;
}

.image-content {
  position: relative;
  display: grid;
  place-content: center;
  padding-left: 50px;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-position: -30px 0px;
  background-size: cover;
  overflow: hidden;
}

.main-image {
  position: absolute;
  left: -80px;
  top: 60px;
}

.box-image {
  position: absolute;
  left: -15px;
  top: 238px;
  z-index: 1;
}